body {
  font-family: "Rubik", sans-serif;
  background-color: #080B11;
  margin: 0;
  padding: 0;
  max-width: 390px;
}

.hero {
  padding: 37px 0 0 0;
  max-width: 391px;
  overflow: hidden;
}

nav {
  display: none;
}

.btn-register {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header img {
  width: 150px;
  height: 54.86px;
}

.title {
  color: #FFB72D;
  font-size: 24px;
  text-align: center;
}

.infos-extra {
  display: flex;
  align-items: center;
  color: #7D7D7D;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.info-1, .info-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-big img {
  width: 270px;
  height: 288px;
}

.content-img-atras {
  display: none;
}

.sobrepor {
  display: none;
}

.wait-list-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wait-list-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 49px;
}

input {
  width: 352px;
  height: 58px;
  border-radius: 50px;
  border: 1px solid #7D7D7D;
  background-color: #080B11;
  color: #FEF6F0;
  font-size: 16px;
  text-align: center;
  margin-bottom: 1rem;
}

.btn-wait-list-top, .btn-wait-list-down {
  background-color: #FFB72D;
  color: #FEF6F0;
  padding: 0.5rem 1rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  width: 352px;
  height: 58px;
  font-weight: bolder;
  font-size: 16px;
  color: #080B11;
  margin-bottom: 1rem;
}

.btn-wait-list-top:hover, .btn-wait-list-down:hover {
  background-color: #FEF6F0;
  color: #FFB72D;
}

.content-cards {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 2fr);
}

.card-1, .card-2, .card-3, .card-4 {
  background-color: #FEF6F0;
  border-radius: 16px;
  padding: 2rem;
  margin-top: 40px;
  width: 225px;
  height: 225px;
  align-items: center;
  margin-left: 60px;
  margin-right: 65px;
}

h2 {
  color: #FFB72D;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 32px;
}

h3 {
  color: #5E4E41;
}

h4 {
  font-weight: 200;
  font-size: 16px;
  color: #B1957E;
}

.line img {
  width: 390px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FEF6F0;
  color: #7D7D7D;
  font-size: 16px;
  margin-top: 32px;
}